*{
	margin: 0;
	padding: 0;
}

html, body, #application{
	height: 100%;
	overflow: hidden;
}

.production-node {
  background-color: rgb(199, 214, 219);
  border-radius: 5px;
  font-family: sans-serif;
  color: white;
  border: solid 2px black;
  overflow: visible;
  font-size: 11px;
  padding-bottom: 0.25em;
}

.production-node .header {
  background: rgba(0,0,0,0.3);
  padding: 0.5em;
  font-weight: bold;
  display: flex;
}

.production-node .body {
  font-size: 140%;
  display: flex;
  margin-top: 0.25em;
  line-height: 20px;
}
.port-container {
  display: flex;
  min-width: 37px;
}

.port-container.new {
  justify-content: center;
  cursor: pointer;
}

.production-node .inputs .port-container {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 0.75em;
}

.production-node .inputs .port-container img {
  margin-right: 0.5em;
}

.production-node .outputs .port-container {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 0.75em;
}

.production-node .outputs .port-container img {
  margin-left: 0.5em;
}

.production-node .port-container {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.25em;
  background: rgba(0,0,0,1.0);
}

.production-node .assembler {
  color: black;
  margin-top: 0.25em;
  flex-grow: 1;
  padding-top: 0.25em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

.assembler .row {
  display: flex;
}

.assembler .row span {
  flex-grow: 1;
  min-width: 30px;
}
.production-node .assembler img {
  margin-right: 0.25em;
}

.production-node img {
  vertical-align: middle;
}

.custom-node{
	border: solid 2px gray;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
}

.custom-node-color{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.circle-port{
	width: 12px;
	height: 12px;
	margin: 2px;
	border-radius: 4px;
	background: darkgray;
	cursor: pointer;
}

.circle-port:hover{
	background: mediumpurple;
}

.body {
  display: flex;
  width: 100%;
  height: 100%;
}

.canvas {

  flex-grow: 1;
}

.tray {
	background: #222222;
  padding: 1em;
}

.diagram-container{
	background: #333333;
	width: 100%;
	height: 100%;
}


.tray-item {
  cursor: pointer;
}

.tray-item.production-node {
  padding: 0
}

.tray-item .header {
  display: flex;
  align-items: center;
  min-height: 20px;
}

.tray input {
  margin-bottom: 0.5em;
  padding: 0.25em;
  border: none;
  background-color: #333333;
  color: white;
}
.tray-item img {
  margin-left: 1em;
}

.production-node .header input {
  flex-grow: 1
}
.production-node .header span {
  flex-grow: 1
}

.production-node .body input {
  width: 30px;
  font-size: 80%;
}

.production-node .body .port-container input {
  width: 15px;
}

.icon-picker {
  position: absolute;
  width: 500px;
  height: 400px;
  top: 40px;
  left:0px;
  right:0px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  background-color: #111111;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
	border: solid 2px gray;
}

.icon-picker input {
  padding: 0.25em;
  border: none;
  background-color: #333333;
  color: white;
  margin-bottom: 10px;
}

.icon-picker button {
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  padding: 0.25em;
}

.icon-picker-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
