.App {
  margin-left: 100px;
  margin-top: 100px;
}

.board {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
  box-sizing: border-box;
}

.cell {
  box-sizing: border-box;
  border-right: solid 1px grey;
  border-bottom: solid 1px grey;

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  user-select: none;

  /* TODO: Use for rounded inner corners */
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}

.cell.firstInRow {
  border-left: solid 1px grey;
}

.cell.firstInColumn {
  border-top: solid 1px grey;
}

.cell .value {
  display: block;
  text-align: center;
}

.cell.selected {
  background-color: lightblue;
}
