.App {
  margin-left: 100px;
  margin-top: 100px;
}

.board {
  position: relative;
  background-color: rgb(240, 240, 240);
}

.cell {
  position: absolute;

  background-color: white;
  box-sizing: border-box;
  border-right: solid 1px grey;
  border-bottom: solid 1px grey;

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  user-select: none;

  /* TODO: Use for rounded inner corners */
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}

.cell.firstInRow {
  border-left: solid 1px grey;
}

.cell.firstInColumn {
  border-top: solid 1px grey;
}

.cell .value {
  display: block;
  text-align: center;
}

.cell.selected {
  background-color: lightblue;
}

.cell.borderRight { border-right: solid 3px; }
.cell.borderLeft { border-left: solid 3px; }
.cell.borderTop { border-top: solid 3px; }
.cell.borderBottom { border-bottom: solid 3px; }


.startPoint {
  position: absolute;
  background-color: green;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
}